
ActiveConfigName = "release"
AndroidData = {
	ApkUseCustomKey = false
	IconLocation = ""
	Identifier = ""
	KeystoreAlias = ""
	KeystoreAliasPassword = ""
	KeystoreLocation = ""
	KeystorePassword = ""
}
CompanyName = ""
IOSData = {
	BundleId = ""
	IpAddress = ""
	PngIcons = [
		{
			Format = "Png"
			Height = 29
			Path = null
			Width = 29
		}
		{
			Format = "Png"
			Height = 40
			Path = null
			Width = 40
		}
		{
			Format = "Png"
			Height = 58
			Path = null
			Width = 58
		}
		{
			Format = "Png"
			Height = 76
			Path = null
			Width = 76
		}
		{
			Format = "Png"
			Height = 80
			Path = null
			Width = 80
		}
		{
			Format = "Png"
			Height = 120
			Path = null
			Width = 120
		}
		{
			Format = "Png"
			Height = 152
			Path = null
			Width = 152
		}
		{
			Format = "Png"
			Height = 512
			Path = null
			Width = 512
		}
	]
}
PackageDestinationFolder = ""
ProjectName = ""
ProjectVersion = ""